<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.6)), url(https://images.unsplash.com/photo-1509347528160-9a9e33742cdb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);">
  <div class="banner-title">
    <div><h1>Today's selection</h1></div>
    <div><p>Batman: The dark knight rises</p></div>
    <div class="watch-button">
      <a href="https://www.youtube.com/watch?v=OiqPQ7L_C00" target="_blank">
      <button>
        <span></span>
        <span></span>
        <span></span>
        <span></span> Watch now
      </button>
      </a>
    </div>
  </div>
  <div class="banner-navbar">
    <nav>
      <ul>
        <% @lists.each do |list| %>
          <li><%= link_to list.name, list_path(list) %></li>
        <% end %>
      </ul>
      <p><%= link_to "+ Add list", new_list_path %></p>
    </nav>
  </div>
</div>
