.banner-navbar ul li a {
  text-decoration: none;
  color: white;
}

.banner-navbar ul li a:hover {
  color: #ae00ff;
}

.banner-navbar li {
  padding: 10px 0px;
  padding-right: 16vmin;
  text-align: right;
  list-style: none;
}

.banner-navbar p a {
  text-decoration: none;
  color: #ae00ff;
}

.banner-navbar p a:hover {
  color: white;
}

.banner-navbar p {
  padding: 10px 0px;
  padding-right: 16vmin;
  text-align: right;
  list-style: none;
}
